@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Syne:wght@700;800&display=swap');

html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
    background:0;
    box-sizing: border-box;
    padding:0;
    background:#000;
    scrollbar-color: #9E0F0F;
}

  body::-webkit-scrollbar {
    width: 11px;
  }
  body::-webkit-scrollbar-track {
    background: #000;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #9E0F0F ;
    border-radius: 6px;
    border: 3px solid #000;
  }


.no-scroll{
    overflow:hidden !important;
}

.display-none{
    display:none;
}

nav{
    position:fixed;
    top:20px;
    left:50%;
    width:50%;
    padding:20px;
    border:none;
    border-radius: 100px;
    transform: translateX(-50%);
    z-index:6;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.nav-logo{
    max-width:100px;
}

.nav-logo img{
    width:100%;
}

.start{
    position:fixed;
    width:100%;
    height:100vh;
    z-index:7;
    background:rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.word{
    width:100%;
    text-align: center;
    padding:25vh 0 5vh 0;
}

.word span {
    display: inline-block;
    opacity: 0;
    transform: scale(10);
    filter: blur(5px);
    color:#fff;
    font-family:"Syne";
    font-weight:900;
    font-size:5rem;
}

.start p{
    color:#bababa;
    opacity:0.5;
    max-width:500px;
    font-family:"Manrope";
    margin:0 auto 5vh auto;
    text-align:center;
}

.enter{
    max-width:100px;
    margin:5px auto;
    text-align: center;
    animation: fadeInZoomOut 10s forwards;
    opacity: 0;
    transform: scale(2);
    filter: blur(5px);
}

.hide-start{
    animation: fadeOut 3s forwards;
}

.animate {
    animation: fadeInZoomOut 10s forwards;
}

@keyframes fadeInZoomOut {
    to {
        opacity: 1;
        transform: scale(1);
        filter: blur(0px);
    }
}

@keyframes fadeOut {
    to{
        opacity:0;
        filter:blur(10px);
        transform:scale(2)
    }
}



.mission{
    position:absolute;
    z-index:6;
    bottom:30px;
    left:25%;
    transform:translateX(-25%);
    max-width:300px;
    font-family:"Manrope";
    color:#bababa;
    font-size:10px;
    font-weight:200;
    width:90%;
}

a{
    text-decoration: none;
    color:#9E0F0F;

}

.learn-more{
    position:absolute;
    bottom:30px;
    left:50%;
    transform:translateX(-50%);
    z-index:3;
}

.button-action{

        background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding:10px 20px;
    color:#bababa;
    font-family:'Manrope';
    transition: all ease-in-out 0.5s;
}

.button-action:hover{
    cursor:pointer;
    transition: all ease-in-out 0.5s;
    background:#9E0F0F;
    color:#fff;
    box-shadow:0 0 50px 10px #9E0F0F;
}

.shuttle-container{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    overflow:hidden;
    pointer-events: none;
    background:url('images/shuttle.svg') center center / cover no-repeat;
}

canvas{
    display:block;
}
.webgl{
    width:100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
    height:100%;
}

.details{
    box-sizing: border-box;
}

.details-container{
    padding:25vh 50px 5vh 50px;
}

.details h1{
    font-family:"Syne";
    font-weight:900;
    color:#fff;
}

.details p{
    color:#cfcfcf;
    font-size:1.5rem;
    font-family:"Manrope";
    width:90%;
}

.details img{
    width:100%;
    object-fit: cover;
}

.audio-controls{
    position:fixed;
    bottom:10px;
    left:10px;
    background:none;
}

.audio-controls button{
    background:none;
    filter:invert();
    border:none;
}

.audio-controls button:hover{
    cursor:pointer;
}

footer{
    padding:50px 10px;
    font-family:'Manrope';
    font-size:12px;
    color:#bababa;
    text-align: center;
}
@media only screen and (max-width:800px){
    nav{
        width:90%;
    }
    .start p{
        width:90%;
    }
    .word span{
        font-size:3rem;
    }
    .details p{
        font-size:1rem;
    }
}